body {
  margin: 0;
  background-color: #232931;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #eeeeee;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #4ecca3;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #4ecca3;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4ecca3;
}

.footer-license {
  color: white;
}

.footer-icon {
  margin: 20px 10px 0;
  height: 30px;
}

.footer-icon:hover {
  fill: #4ecca3;
}


.profileimg {
  width: 200px;
  border-radius: 50%;
  margin-top: 30px;
}

.skill-logo {
  width: 100px;
}

.topcontainer {
  background-color: #393e46;
  position: relative;
  padding-top: 100px;
}

.top_title {
  color: #4ecca3;
  margin: 10px auto 0 auto;
}

.top_subtitle {
  color: #eeeeee;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: lighter;
}

.middle-container {
background-color: #232931;
}

.bottom-container {
  background-color: #393e46;
}

.menu {
  background-color: gold;
  height: 200px;
  width: 200px;
}

.cloud-1 {
  position: absolute;
  right: 600px;
  top: 50px;
}

.cloud-2 {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.skill-row {
  margin: auto;
  max-width: 700px;
}

.btn {
  color: #4ecca3;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  color: #eeeeee;
  text-decoration: underline;
}
